<div style="text-align: right ; margin-right: 40px;">  
  
    <h2> <a (click)= "logout()">Logout</a> <br> </h2>  
      
  </div>  
    
  <div *ngIf="haveData > 0">  
      <table class="table table-responsive table-striped">  
    
          <tr> 
            <th>First Name</th>
            <th>Last Name</th> 
            <th>Email</th>  
            <th>User Name</th> 
            <th>Role</th>  
            <th ngif="isAdminUser">Actions</th>
          </tr>  
            
          <ng-container *ngFor = "let item of data">  
              <tr>
                <td>{{item.firstname}}</td>  
                <td>{{item.lastname}}</td>  
                <td>{{item.email}}</td>  
                <td>{{item.username}}</td> 
                <td>{{item.role}}</td>  
                <td ngif="isAdminUser">
                  <button (click)="editUser(item.id)">
                    <i class="glyphicon glyphicon-edit"></i>Edit
                  </button>
                </td>
              </tr>  
          </ng-container>  
      
        </table>  
  </div>  
    
  <div *ngIf="haveData == 0">  
      Don't have Data.  
  </div>  