<h2>User</h2>  
  
<form [formGroup]="form" #userInfo (ngSubmit)="UserForm(userInfo)">  
  
  <div class="row">  
    <div class=" col-md-offset-1 col-md-4">  
        <label for="firstname"> First Name </label>  
        <input formControlName="firstname" class="form-control" type="text" ngModel="{{user.firstname}}">   
    </div>  
  </div>

  <div class="row">  
    <div class=" col-md-offset-1 col-md-4">  
        <label for="lastname"> Last Name </label>  
        <input formControlName="lastname" class="form-control" type="text" ngModel="{{user.lastname}}">   
    </div>  
  </div>
  
  <div class="row">  
    <div class=" col-md-offset-1 col-md-4">  
        <label for="email"> Email </label>  
        <input formControlName="email" class="form-control" type="text" ngModel="{{user.email}}" [disabled]="userId != null">   
    </div>  
  </div>

  <div class="row">  
    <div class=" col-md-offset-1 col-md-4">  
        <label for="username"> User Name </label>  
        <input formControlName="username" class="form-control" type="text" ngModel="{{user.username}}" [disabled]="userId != null">   
    </div>  
  </div>
  
  <div class="row">  
    <div class=" col-md-offset-1 col-md-4">  
        <label for="role"> Role </label>  
        <select formControlName="role" class="form-control" type="select" ngModel="{{user.roleId}}" [disabled]="userId != null">
            <option selected disabled> Select a role </option>
            <option *ngFor="let role of roles" [value]="role.id">
              {{role.name}}</option>
        </select>
    </div>  
  </div>  
  
  <div class="row">  
    <div class=" col-md-offset-1 col-md-4">  
        <label for="password"> Password </label>  
        <input formControlName="password" class="form-control" type="password" ngModel="{{user.password}}" [disabled]="userId != null">   
    </div>  
  </div>  
  
  <div class="row" style="margin-top: 40px;">  
    <div class="col-md-offset-1 col-md-4">  
        <button class="btn btn-md btn-primary btn-style">Save</button>  
    </div>  
  </div>  
  
</form>  