<h2>Login form</h2>  
  
<form [formGroup]="form" #loginInfo (ngSubmit)="Login(loginInfo)">  
  
  <div class="row">  
    <div class=" col-md-offset-1 col-md-4">  
        <label for="username"> User Name </label>  
        <input formControlName="username" class="form-control" type="text" ngModel="{{login.username}}">   
    </div>  
  </div>  
  
  <div class="row">  
    <div class=" col-md-offset-1 col-md-4">  
        <label for="password"> Password </label>  
        <input formControlName="password" class="form-control" type="password" ngModel="{{login.password}}">   
    </div>  
  </div>  
  
  <div class="row" style="margin-top: 40px;">  
    <div class="col-md-offset-1 col-md-4">  
        <button class="btn btn-md btn-primary btn-style">Login</button>  
    </div>  
  </div>  
  
</form>  